.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__block {
  position: relative;
  z-index: 1001;
  max-width: 426px;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 40px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  min-width: 280px;
}

.modal__icon {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.modal__message {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: center;
  margin: 0;
}

@media (max-width: 767px) {
  .modal__block {
    max-width: 343px;
  }
}