.titleBlock {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
}

.title {
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
}

.bubble__image {
    object-fit: contain;
}

.courses__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    margin-bottom: 34px;
}