.centerblock {
  width: 100%;
}

.bubble {
  flex-shrink: 0;
}

.titleBlock {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 22px;
}

.title {
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
}

.bubble__image {
  object-fit: contain;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  margin-bottom: 34px;
}

.skeletonCardWrapper {
  grid-column: span 4;
}

.errorMessage {
  grid-column: 1 / -1;
  text-align: center;
  padding: 40px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bubble {
    display: none;
  }

  .courses__grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .skeletonCardWrapper {
    grid-column: span 4;
  }
}

@media (max-width: 767px) {
  .bubble {
    display: none;
  }

  .titleBlock {
    margin-bottom: 34px;
  }

  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
  }

  .courses__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .skeletonCardWrapper {
    grid-column: span 4;
  }
}