.enrollment {
  width: 100%;
  position: relative;
  overflow: visible;
  margin-bottom: 60px;
}


.content {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 30px 120px rgba(0, 0, 0, 0.35);
  overflow: visible;
}

.textBlock {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  gap: 28px;
}

.title {
  max-width: 400px;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
}

.benefitsList {
  list-style: disc;
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefitItem {
  font-size: 24px;
  opacity: 0.6;
}



.imageBlock {
  position: absolute;
  right: 40px;
  top: -110px;
  height: 588px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* обрезка только снизу: расширяем область вверх/влево/вправо, низ — по границе блока */
  clip-path: inset(-100% -100% 0 -100%);
}

.lineWrapper {
   position: absolute;
  z-index: 1;
  top: 240px;
  left: -136px;

}

.line {
  object-fit: contain;
  position: absolute;
}

.menWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men {
  object-fit: contain;
}