.aboutCourse {
  width: 100%;
}

/* Верхняя секция - изображение skill card */
.topSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.topContainer {
  width: 100%;
}

.skillCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sectionTitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: left;
}

.suitableFor {
  margin-bottom: 60px;
}

.suitableForList {
  display: flex;
  flex-wrap: nowrap;
  gap: 17px;
}

.suitableForItem {
  background: linear-gradient(135deg, #151720 0%, #1e212e 100%);
  border-radius: 28px;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.itemNumber {
  font-size: 75px;
  font-weight: 500;
  color: rgba(188, 236, 48, 1);
  line-height: 135%;
}

.itemText {
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  line-height: 110%;
}

/* Блок "Направления" */
.directions {
  margin-bottom: 102px;
}

.directionsBar {
  background-color: rgba(188, 236, 48, 1);
  border-radius: 28px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}

.directionItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.directionText {
  font-size: 24px;
}