.header {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    display: inline-block;
    text-decoration: none;
}

.logo__image {
    object-fit: contain;
}

.tagline {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 110%;
    opacity: 0.5;
}

.login__btn {
    display: inline-block;
    padding: 16px 26px;
    border-radius: 46px;
    background: rgba(188, 236, 48, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    transition: all 0.3s ease;
}

.login__btn:hover {
    background: rgba(198, 255, 0, 1);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .header {
        padding: 15px 0;
    }

    .container {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .login__btn {
        align-self: flex-end;
        padding: 10px 25px;
        font-size: 14px;
    }

    .logo__image {
        max-width: 150px;
    }

    .tagline {
        font-size: 12px;
    }
}