.header {
    width: 100%;
    padding: 60px 0;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    display: inline-block;
}

.logo__image {
    object-fit: contain;
}

.tagline {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 110%;
    opacity: 0.5;
}


.user__info {
    display: flex;
    align-items: center;
    gap: 12px;

}

.user__icon {
    object-fit: contain;
    margin-right: 8px;

}

.user__name {
    font-size: 24px;
}

.user__checkmark__button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.user__checkmark__button:hover {
    transform: scale(1.1);
}

.user__checkmark {
    object-fit: contain;
}