.profileTitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.profileCard {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 33px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-bottom: 60px;
}

.avatarWrapper {
  flex-shrink: 0;
  width: 197px;
  height: 197px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(217, 217, 217, 1);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userInfoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 44px;
}

.userName {
  font-size: 32px;
  font-weight: 500;
}


.logoutButton {
  width: 192px;
}

/* Кнопка использует глобальный класс .btn-secondary */

.coursesTitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 280px;
}